.positiononeul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.positiononetitle {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	font-weight:bold;
	cursor:pointer;
}

.positiononetitle-0 {
	color:#5f8fd6;
}
.positiononetitle-1 {
	color:#5f8fd6;
	/* color:#a6c668; */
}
.positiononetitle-2 {
	color:#5f8fd6;
	/* color:#dec238; */
}
.positiononetitle-3 {
	color:#5f8fd6;
	/* color:#a91476; */
}
.positiononetitle-4 {
	color:#5f8fd6;
	/* color:#491db9; */
}

.positiononeul>li {
	display: block;
	width: 100%;
	background-color: white;
	clear:both;
	margin-bottom:30px;
}
.positiontwotitle {
	display:inline-block;
	font-size:smaller;
	padding:9px 0px;
	color:#696969;
	font-weight:bold;
	cursor:pointer;
}
.positiontwoul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.positiontwoitem {
	float:left;
	width: 33%;
	height:40px;
	text-align:center;
	overflow:hidden;
	border-bottom:1px solid #ddd;
}
.postiontwoitemnoborderright0{
	border-right:0px;
	width:34%;
}
.postiontwoitemnoborderright1{
	border-right:1px solid #ddd;
}
.postiontwoitemnoborderright2{
	border-right:1px solid #ddd;
}
.postiontwoitemlineheight0{
}
.postiontwoitemlineheight1{
}
.positionthreeli {
	display: block;
	width: 100%;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .2) inset;
	clear:both;
	background-color:#c7cfd4;
}
.positionthreeliheight0{
	height:0px;
}
.positionthreeliheightauto{
	height:auto;
}
.positionthreetitle {
	display:inline-block;
	font-size:smaller;
	color:#7c8692;
	font-weight:bold;
	line-height:2em;
	cursor:pointer;
}
.positionthreeul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-top:-20px;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	overflow:hidden;
}
.positionthreeul>li.positionthreeitem {
	position: relative;
	float:left;
	width: 33%;
	text-align: center;
	border-bottom:2px groove white;
	border-right:2px groove white;
}
.positionthreeul>li.positionthreeitem:nth-child(3n+0) {
	border-right:0px groove white;
	width:34%;
}
.caret1 {
	position: relative;
	top: -17px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-bottom: 8px solid #74a5c3;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	transition: all 200ms;
	-webkit-transition: all 200ms;
}
.caret2{
	position: relative;
	top: -16px;
	display: inline-block;
	width: 0;
	height: 0;
	width: 33%;
	height: 5px;
	background-color: #18b4ed;
	transition: all 1000ms;
	-webkit-transition: all 200ms;
}

.caret1left {
	left: 13%;
}

.caret1center {
	left: 47%;
}

.caret1right {
	left: 81%;
}

.caret2left {
	left: 0%;
}

.caret2center {
	left: 33%;
}

.caret2right {
	left: 66%;
	width:34%;
}
.clearall{
	display:block;
	clear:both;
	height:0px;
	overflow:hidden;
}